/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import '~nativescript-theme-core/css/core.css';
@import './font-awesome.css';


.background{
    background-image:linear-gradient(rgb(48, 42, 47),rgba(0, 0, 0, 0.959));
}

.white{
    color:white;
}

page{
    background-image:linear-gradient(rgb(48, 42, 47),rgba(0, 0, 0, 0.959));
}

.genre-div{
    width:auto;
    height:auto;
    margin-bottom:15;
    margin-right:10;
    border-radius:16;
    padding:6;
}

.rating-box{
    justify-content: center;
    align-items:center;
    height:25;
    width:30;
    background-color: rgba(0,0,0,0.36);
    border-radius:4;
}

.genre-label{
    font-size:12;
}

.font-size-16{
    font-size:16;
}

.font-size-17{
    font-size:17;
}

.font-size-14{
    font-size:14;
}

.font-size-18{
    font-size:18;
}

.margin-bottom-10{
    margin-bottom: 10;
}

.margin-top-8{
    margin-top:8;
}

.margin-top-15{
    margin-top:15;
}

.width-75{
    width:75;
}

.centerText{
    text-align: center;
}

.pink{
    background-color:rgb(41, 41, 41);
}

.grey{
    background-color: rgba(156, 156, 156, 0.3);
}

.flex-end{
    justify-content:flex-end; 
    align-items:flex-end; 
}

.border-bottom{
    border-bottom-width: 2;
    border-bottom-color: white;
}